name: CI/CD Microservices

on: push

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [api-server, customer-frontend, customer-backend]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        run: |
          cd ${{ matrix.service }}
          npm ci

      - name: Lint code
        run: |
          cd ${{ matrix.service }}
          npm run lint

      - name: Build Docker image
        run: |
          cd ${{ matrix.service }}
          IMAGE_NAME=joeynaor/${{ matrix.service }}:latest
          docker build -t $IMAGE_NAME .
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME
